:root {
  --accent-color: #2196f3;
  --address-color: #757575;
  --text-color: #212121;
  --white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/*------- header-------- */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-list {
  display: flex;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-connect {
  margin-left: auto;
}
.header-logo {
  margin-right: 93px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-link-st {
  color: var(--accent-color);
  position: relative;
}
.header-link-st::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 3px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -32px;
}

.header-tel,
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--address-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel-mar {
  margin-left: 50px;
}
.header-mail-icon,
.header-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}
.header-mail-icon:hover,
.header-mail-icon:focus,
.header-tel-icon:hover,
.header-tel-icon:focus {
  fill: var(--accent-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.line {
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

/* -----------Main---------- */
.main {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.main-button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #188ce8;
}

/* Main item */
.main-item {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: -30px;
}
.container-main-list {
  display: flex;
}
.main-list {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.main-list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color);
  margin-bottom: 10px;
}
.main-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-color);
}
.main-list::before {
  display: block;
  content: "";
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}
.main-list:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}
.main-list:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}
.main-list:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}
.main-list:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}
/* Main about */
.main-about {
  padding-bottom: 92px;
}
.main-about-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}
.main-about-photo {
  display: flex;
  margin-left: -30px;
}
.main-photo-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
}

/* Main employee */
.main-employee {
  padding-bottom: 94px;
  padding-top: 94px;
  background: #f5f4fa;
}
.main-employee-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}
.main-employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 10px;
}
.main-employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--address-color);
  margin-bottom: 30px;
}
.main-employee-list {
  display: flex;
  margin-left: -30px;
}
.main-employee-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.div-main-eployee {
  padding-top: 30px;
  padding-bottom: 26px;
}

.main-social-list {
  display: flex;
  justify-content: center;
}
.main-social-item + .main-social-item {
  margin-left: 10px;
}

.main-social-link {
  width: 44px;
  height: 44px;
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-social-icon {
  fill: currentColor;
}

.main-social-link:hover,
.main-social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* ---clients---- */
.clients {
  padding-top: 93px;
  padding-bottom: 94px;
}
.clients-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  background-color: var(--white-color);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* --------Footer-------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-list {
  margin-top: 20px;
}
.footer-maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-maps:hover,
.footer-maps:focus {
  color: rgb(136, 130, 130);
}
.footer-tel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-tel:hover,
.footer-tel:focus {
  color: rgb(252, 252, 252);
}

.footer-mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail:hover,
.footer-mail:focus {
  color: rgb(252, 252, 252);
}
.footer-item-mar {
  margin-bottom: 9px;
}
.footer-flex {
  display: flex;
}

.footer-social {
  margin-left: 70px;
  padding-top: calc(75px - 60px);
}
.footer-social-tittle {
  font-family: Roboto;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--white-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.footer-follow {
  margin-left: 94px;
  padding-top: calc(72px - 60px);
}
.footer-follow-tittle {
  font-family: Roboto;
  font-weight: 700px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-input {
  height: 50px;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}
.footer-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-item {
  display: flex;
}
.footer-button {
  margin-left: 12px;
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-button:focus,
.footer-button:hover {
  background-color: #188ce8;
}
.footer-send-icon {
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  /* margin-top: calc(13px - 10px); */
}
/* --------Modal--------- */

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms, visibility 500ms;
}
.backdrop.is-hidden .modal {
  transform: rotate(180deg) scale(0.5);
}
.modal {
  width: 530px;
  min-height: 580px;
  background-color: var(--white-color);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 40px;
}
.modal-close {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #000000;
}
.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:focus,
.modal-close-icon:hover {
  color: var(--accent-color);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
  letter-spacing: 0.03em;
}

.form-field {
  margin-bottom: 10px;
}
.form-field-text {
  margin-bottom: 20px;
}
.form-tittle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--address-color);
}
.input-wrap {
  position: relative;
  margin-top: 4px;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}
.form-input-text::placeholder {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.check-text::before {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.policy-check:checked + .check-text::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.check-text-link {
  margin-left: 8px;
  color: var(--accent-color);
}
.form-button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 55px;
  padding-right: 55px;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.form-button:focus,
.form-button:hover {
  background-color: #188ce8;
}

/* --------Portfolio menu =---------*/
.portfolio-menu-button1 {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
}
.portfolio-menu-button {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color);
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-menu-button:hover,
.portfolio-menu-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-menu {
  padding-top: 96px;
  padding-bottom: 94px;
}
.portfolio-menu-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.prt-btn {
  margin-left: 8px;
}

/*------ Portfolio list-------- */
.portfolio-list-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.portfolio-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--address-color);
}
.div-portfolo-list {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-img {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  background: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img:hover,
.portfolio-img:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-img:hover .portfolio-img-text {
  transform: translateY(0);
}
.portfolio-img-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-img-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
